{% extends "base.html" %}

{% block content %}
  <table id="data" class="table table-striped">
    <thead>
      <tr>

        <th>Title</th>
        <th>Company</th>
        <th>Salary</th>
        <th>Summary</th>
        <th>Platform</th>

      </tr>
    </thead>
    <tbody>
      {% for job in jobs %}
        <tr>
          {% for row in job %}
          <td>{{row}}</td>
           {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        columns: [
          null,
          {searchable: false},
          {orderable: false, searchable: false},
          {orderable: false, searchable: false},
          null],
      });
    });
  </script>
{% endblock %}